.thumbnail-custom {
    width: 72px; /* You can set the dimensions to whatever you want */
    height: 72px;
    object-fit: cover;
}

.active-custom {
    font-weight: bold;
    background-color:white;
}

.nav-link-custom {
    color: gray;
}

.nav-link-active-custom {
    padding-bottom: 10px;
    border-bottom: #1777ff solid;
    color: black;
    font-weight: bold;
    border-top: none;
    border-left: none;
    border-right: none;
    text-decoration: none;
}

.searchbar-custom {
    background-color: lightgray;
}

.list-group-item-custom {
    border: none;
    background-color: lightgray;
}